/* Search Bar */
#searchBar {
    width: 60%;
    padding: 10px;
    font-size: 1.2em;
    border: 2px solid #4CAF50;
    border-radius: 5px;
    margin-bottom: 20px;
}

/* Recipe List */
#recipeList {
    list-style: none;
    padding: 0;
}

#recipeList li {
    margin: 10px 0;
    font-size: 1.2em;
}

#recipeList a {
    text-decoration: none;
    color: #333;
}

#recipeList a:hover {
    color: #4CAF50;
}

